{% extends "auth_head.html" %}


{% block content %}

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image" style="margin-top: 20%;"> </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h4 class="mb-0 mr-4 mt-2">The Best File Sharing Platform</h4>
                    </div>
                    <form id="signupForm" method="POST" action="{% url 'account_signup' %}">
                        <p id="error" style="color: rgba(124, 55, 55, 0.699);display: none;font-weight: bolder;font-size: large;">
                        </p>
                        {% csrf_token %}
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            {{ error|escape }}
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address *</h6>
                        </label> <input class="mb-4" type="text" id="email" name="email" placeholder="Enter a valid email address" required> 
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password *</h6>
                        </label> <input class="mb-4" type="password" id="password1" name="password1" placeholder="Enter password" required> 
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Confirm Password *</h6>
                    </label> <input class='mb-4' type="password" id="password2" name="password2" placeholder="Confirm password" required> 
                </div>
                <div class="row px-3"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">Address</h6>
                </label> <input class="mb-4" type="text" name="address" placeholder="Enter your address"> 
            </div>
            <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Phone *</h6>
            </label> <input class="mb-4" type="text" id="phone" name="phone" placeholder="Enter contact number"> 
        </div>
                    <div class="row px-3 mb-4">
                         <a href="{% url 'account_reset_password' %}" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3"> <button type="button" onclick="validateUser();" class="btn btn-blue text-center">Signup</button> </div>


                    <div class="row mb-4 px-3"> <small class="font-weight-bold" style="font-size: medium;">Already have an account? <a class="text-danger" href="{%url 'account_login'%}">Login</a></small> </div>
                </div>
            </div>
            </form>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>




<script>
    function usernameIsValid(username) {
        return /^[0-9a-zA-Z_.-]+$/.test(username);
    }
    function emailIsValid(email){
        return /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email);
    }
    function passwordIsValid(password){
        return password.length > 5;
    }
    function phoneIsValid(phone){
        return /^\d+$/.test(phone.substring(1));
    }

    
function validateUser(){

    var email = document.getElementById("email").value;
    var password = document.getElementById("password1").value;
    var password2 = document.getElementById("password2").value;
    var phone = document.getElementById("phone").value;
    var error = document.getElementById("error");

    if(email == "" || !emailIsValid(email)){
        error.innerHTML = "Please enter valid email";
        error.style.display = "block";
        window.scrollTo(0,0);
        return;

    }
    else if(password == "" || !passwordIsValid(password)){
        error.innerHTML = "Password must have atleast 5 characters" ;
        error.style.display = "block";
        window.scrollTo(0,0);
        return;

    }
    else if(password2 == "" || password!=password2){
        error.innerHTML = "Confirm password does not match.";
        error.style.display = "block";
        window.scrollTo(0,0);
        return;
    }
    else if(phone == "" || !phoneIsValid(phone)){
        error.innerHTML = "Please enter valid phone number";
        error.style.display = "block";
        window.scrollTo(0,0);
        return;
    }
    else{
        error.innerHTML = "";
        error.style.display = "block";
        document.getElementById("signupForm").submit();

    }
    
    
      
}
    

      </script>
    



{% endblock %}