{% extends 'index.html' %}
{% block container %}
<style>
    body{
        background-color: white;
    }
</style>
<div class="container" style="padding-top: 50px;padding-bottom: 150px;">
<a href="{% url 'account_logout' %}" class="btn btn-danger btn-lg mt-5">Logout</a>
<div class="container" style="padding-top: 30px;">
    <h2>OPS! Owncloud is not working at the moment.</h2>
    <p style="padding-top: 20px;color: gray;">Tried checking owncloud credentials at <a href="{% url 'admin:index' %}">admin panel</a>
    </p>

</div>
</div>

{% endblock %}